<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<section th:fragment="aboutFragment" id="about" class="about section-bg">
    <div class="container">

        <div class="row">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start"></div>
            <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3 data-aos="fade-in" data-aos-delay="100">Looking for a Software Developer?</h3>
                    <p data-aos="fade-in">
                        I primarily use Java, but learning new frameworks or languages isn't a problem. My best are Spring, Thymeleaf, HTML + CSS, MySQL, Scala, MySQL and Android Studio.
                    </p>
                    <div class="row">
                        <div class="col-md-6 icon-box" data-aos="fade-up">
                            <i class="bx bx-receipt"></i>
                            <h4><a href="#">Clean code</a></h4>
                            <p>Constantly improving to make elegant, focused and readable code.</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-cube-alt"></i>
                            <h4><a href="#">Version control</a></h4>
                            <p>I strive for the best practices working with GitHub </p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-images"></i>
                            <h4><a href="#">Graphic design skills</a></h4>
                            <p>Years of experience developing media content with images and video</p>
                        </div>
                        <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-shield"></i>
                            <h4><a href="#">API integration</a></h4>
                            <p>My projects are working with REST APIs </p>
                        </div>
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section>
</html>