<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<section th:fragment="contactFragment" id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Contact</h2>
            <p data-aos="fade-in">Currently living in Spain, I'm looking for work abroad, moving to another city or country isn't a problem. </p>
        </div>

        <div class="row">

            <div class="col-lg-6">

                <div class="row">
                    <div class="col-md-12">
                        <div class="info-box" data-aos="fade-up">
                            <a href="https://drive.google.com/open?id=1Q-g3N1clhrIN58Fp9yXtvkHpxZB95K8X"><i class="bx bx-spreadsheet"></i></a>
                            <a href="https://drive.google.com/open?id=1Q-g3N1clhrIN58Fp9yXtvkHpxZB95K8X">
                                <h3>Download Resume</h3>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-envelope"></i>
                            <h3>Email me</h3>
                            <p>oteromorales@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-phone-call"></i>
                            <h3>Call Me</h3>
                            <p>+34 645 786 847</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-6">

                <!--                BOOTSTRAPFORM-->
<!--                <section class="php-email-form form-flex-box" data-aos="fade-up">-->
<!--                    <div class="form-row">-->
<!--                        <div class="col-md-9 mb-md-0 mb-5">-->
<!--                            <form id="contact-form" name="contact-form" th:action="@{/send}" data-aos="fade-up" method="POST">-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="md-form form-box-contact">-->
<!--                                            <input type="text" id="name" name="name" placeholder="Name" class="form-control">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-6">-->
<!--                                        <div class="md-form form-box-contact">-->
<!--                                            <input type="text" id="email" name="email" placeholder="Email" class="form-control">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="md-form form-box-contact">-->
<!--                                            <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="row">-->
<!--                                    <div class="col-md-12">-->
<!--                                        <div class="md-form">-->
<!--                                            <textarea type="text" id="message" name="message" placeholder="Message" rows="2" class="form-control md-textarea"></textarea>-->
<!--                                        </div>-->

<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="text-center text-md-left">-->
<!--                                    <div class="form-button-send text-center"><button type="submit" value="Submit" onclick="showAlert()">Send Message</button></div>-->
<!--                                </div>-->
<!--                                <div class="status"></div>-->
<!--                            </form>-->
<!--                        </div>-->

<!--                    </div>-->
<!--                </section>-->
                                <form  th:action="@{/send}" method="post" role="form" class="php-email-form" data-aos="fade-up">
                                    <div class="form-row">
                                        <div class="col-md-6 form-group">
                                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                            <div class="validate"></div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                            <div class="validate"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                        <div class="validate"></div>
                                    </div>
                                    <div class="mb-3">
                                        <div class="loading">Loading</div>
                                        <div class="error-message"></div>
                                        <div class="sent-message">Your message has been sent. Thank you!</div>
                                    </div>
                                    <div class="text-center"><button type="submit">Send Message</button></div>
                                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

</html>