<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="headerFragment" id="header">
        <div class="container d-flex">

            <div class="logo mr-auto">
                <h1><a href="index.html">Damian Otero</a></h1>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
            </div>

            <nav class="nav-menu d-none d-lg-block">
                <ul>
                    <li class="active"><a href="#header">Home</a></li>
                    <li><a href="#about">About Me</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li class="get-started"><a href="#contact">Hire me!</a></li>
                </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header>

</head>
<body>

</body>
</html>