<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<section th:fragment="projectsFragment" id="projects" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2 data-aos="fade-in">Projects</h2>
            <p data-aos="fade-in">Check out my personal projects hosted in a AWS EC2 instance using Tomcat as a webserver. </p>
        </div>


        <!-- ======= Project One ======= -->

        <div class="row">
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/services-1.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Crypto-Coins Portfolio</a></h5>
                        <p class="card-text"> Is a useful tool that allows the user to easily track in real time the performance of the cryptocurrencies in one place. Created with Java 11, Spring, SpringSecurity, Thymeleaf, JPA and MySQL.</p>
                        <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>

            <!-- ======= Project Two ======= -->
            <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                <div class="card">
                    <div class="card-img">
                        <img src="assets/img/services-2.jpg" alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="">Move Rental</a></h5>
                        <p class="card-text">One of my first projects with REST APIs and databases.A Simple web application for a movie rental service. </p>
                        <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section><!-- End Services Section -->

</html>