<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: headFragment"/>

<body>

  <!-- ======= Header ======= -->
  <header th:replace="fragments/header :: headerFragment"/>

  <!-- ======= Hero Section ======= -->
  <section th:replace="fragments/hero :: heroFragment" />


  <main id="main">
    <!-- ======= About Section ======= -->
    <section th:replace="fragments/about :: aboutFragment" />

    <!-- ======= Projects Section ======= -->
    <section th:replace="fragments/projects :: projectsFragment" />

    <!-- ======= Contact Section ======= -->
    <section th:replace="fragments/contact :: contactFragment" />

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="fragments/footer :: footerFragment"/>


  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<th:block th:include="fragments/head :: jsFragment"/>
</body>

</html>
